<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-6">
            <!-- <img class="img-responsive" src="http://placehold.it/750x450"> -->
            <img src="http://www.w3schools.com/images/w3schools_green.jpg" alt="W3Schools.com" style="width:104px;height:142px;">

            <div class='pixels-photo'>
                 <p>
                    <img class="img-responsive" src='https://drscdn.500px.org/photo/93567105/m%3D900/c7c91f2051c41cde6ca8730fae1ed3d9' alt='Sydney Harbour Bridge north side by Pablo Polo on 500px.com'>
                 </p>
                <a href='https://500px.com/photo/93567105/sydney-harbour-bridge-north-side-by-pablo-polo' alt='Sydney Harbour Bridge north side by Pablo Polo on 500px.com'></a>
            </div>
                <script type='text/javascript' src='https://500px.com/embed.js'></script>

        </div>
        
        <div class="col-md-6">
            <h2>Pablo Photographs'</h2>

            <p>This is a great place to introduce your company or project and describe what you do. This about page
                features general company information, employee bios, and other helpful elements.</p>

            <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats
                vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit
                voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                voluptatem sequi nesciunt.</p>
        </div>

    </div>

    <!-- Team Member Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <div class='pixels-photo'>
             <p> <img class="img-responsive" src='https://drscdn.500px.org/photo/93567097/m%3D900/10f06b1031c4ab16a0098952d32ec722' alt='Sydney Harbour Bridge flag by Pablo Polo on 500px.com'> </p>
             <a href='https://500px.com/photo/93567097/sydney-harbour-bridge-flag-by-pablo-polo' alt='Sydney Harbour Bridge flag by Pablo Polo on 500px.com'></a>
            </div>
            <h3>Sydney Bridge
                <small>From North shore</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <div class='pixels-photo'>
                  <p>
                    <img class="img-responsive" src='https://drscdn.500px.org/photo/86377581/m%3D900/bb78316570ecdaadb6bed30ebd84eaa1' alt='Sydney Opera and Opera bar by Pablo Polo on 500px.com'>
                  </p>
                  <a href='https://500px.com/photo/86377581/sydney-opera-and-opera-bar-by-pablo-polo' alt='Sydney Opera and Opera bar by Pablo Polo on 500px.com'></a>
            </div>
            <h3>Opera house
                <small>From Circular Quay</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <div class='pixels-photo'>
              <p>
                <img class="img-responsive" src='https://drscdn.500px.org/photo/86377579/m%3D900/b546775edc09f6733028583f61302e72' alt='My first view of Sydney harbour by Pablo Polo on 500px.com'>
              </p>
              <a href='https://500px.com/photo/86377579/my-first-view-of-sydney-harbour-by-pablo-polo' alt='My first view of Sydney harbour by Pablo Polo on 500px.com'></a>
            </div>
            <h3>Sydney Harbour
                <small>Arriving to SYD airport</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <div class='pixels-photo'>
              <p>
                <img class="img-responsive" src='https://drscdn.500px.org/photo/86272259/m%3D900/b7e31dc079968300d28da244f7b8c6b5' alt='Surf in Australia by Pablo Polo on 500px.com'>
              </p>
              <a href='https://500px.com/photo/86272259/surf-in-australia-by-pablo-polo' alt='Surf in Australia by Pablo Polo on 500px.com'></a>
            </div>
            <h3>Surfing Australia
                <small>South Sydney</small>
            </h3>
            <p>What does this team member do? Keep it short! This is also a great spot for social links!</p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>
     

    </div>

    <!-- Our Customers -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
